<%- include("partials/header")%>
<h3>I am index page</h3>
<% blog.forEach(function(blog){ %>
<div class="box">
<div class="ui grid">
	<div id="indextitle" class="four wide column">
		<h3 class="title"><%=blog.title%></h3>	
	</div>
	<div class="seven wide column">
		<img class="blogImage" src="<%=blog.image%>">
	</div>
	<div class="four wide column">
		<p><%=blog.body.substring(0,100)%>...</p>
		<a href="/blogs/<%=blog._id%>">Read More</a>	
	</div>
</div>
</div>
<%})%>
<a href="/blogs/new">Click to Add Post</a>
<%- include("partials/footer")%>